<div class="container-fluid pt-3" th:fragment="header(currentPage)">
  <header
    class="d-flex align-items-center justify-content-between py-3 mb-4 flex-nowrap mx-5"
  >
    <!-- logo -->
    <a href="/indexLogado">
      <img
        src="../images/logo-bg-off.png"
        alt="Logo"
        class="img-fluid logo small-logo2 me-5"
      />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 mb-md-0 me-auto">
      <li
        th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/indexLogado', 'Home', ${currentPage})}"
      ></li>

      <li
        th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/carteira', 'Carteira', ${currentPage})}"
      ></li>

      <li
        th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/invistaLogado', 'Invista', ${currentPage})}"
      ></li>

      <li
        th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/contatoLogado', 'Contato', ${currentPage})}"
      ></li>

      <li
        th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/historico', 'Histórico', ${currentPage})}"
      ></li>
    </ul>

    <div class="col-md-3 text-end">
      <button
        type="button"
        class="btn btn-custom2 mb-2 mt-2 me-3 fw-bold text-uppercase"
        onclick="sair()"
      >
        Sair
      </button>

      <a href="/infoPerfil" class="text-decoration-none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="50"
          fill="white"
          class="bi bi-person-circle text-decoration-none perfilIcon"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
      </a>
    </div>

    <script>
      function sair(event) {
        var confirmacao = confirm("Tem certeza que deseja sair?");

        if (confirmacao) {
          fetch("/login", {
            method: "put",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              if (response.ok) {
                window.location.href = "/";
              } else {
                console.log(response);
              }
            })
            .catch((error) => {
              alert("Ocorreu um erro ao realizar login!");
              console.error(error);
            });
        }
      }
    </script>
  </header>
</div>
