<div class="container-fluid pt-3" th:fragment="header(currentPage)">
  <header
    class="d-flex align-items-center justify-content-between py-3 mb-4 flex-nowrap mx-5"
    >
    <!-- logo -->
    <a href="/">
      <img
        src="images/logo-bg-off.png"
        alt="Logo"
        class="logo small-logo2 me-5"
      />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 mb-md-0 me-auto">

      <li th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/', 'Home', ${currentPage})}"></li>

      <li th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/invista', 'Invista', ${currentPage})}"></li>

      <li th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/sobre', 'Sobre', ${currentPage})}"></li>

      <li th:replace="~{fragments/header/navLinkHeader :: navLinkHeader('/contato', 'Contato', ${currentPage})}"></li>

    </ul>

    <div class="col-md-3 text-end">
      <a href="/login" class="btn btn-outline-primary botao1 me-4">Login</a>
      <a href="/cadastro" class="btn btn-outline-primary botao1 me-4"
        >Cadastre-se</a
      >
    </div>
  </header>
</div>
