<div class="container-fluid mt-5 mb-4 pdb5" th:fragment="graficoSimples">
  <link href="css/stylesheet.css" rel="stylesheet" />

  <div class="row ms-5 mt-5">
    <div id="chart"></div>

    <script th:inline="javascript">
      var saldosFinaisMovimentacoes1Ano = /*[[${saldosFinaisMovimentacoes1Ano}]]*/[];
      var mesesMovimentacoes1Ano = /*[[${mesesMovimentacoes1Ano}]]*/[];
      var options = {
        series: [
          {
            name: "Movimentações",
            data: saldosFinaisMovimentacoes1Ano,
          },
        ],
        chart: {
          height: 350,
          type: "line",
          toolbar: {
            show: true,
            tools: {
              pan: false
            }
          },
          zoom: {
            enabled: true
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
        },
        title: {
          text: "Movimentações Mensais",
          align: "left",
          style: {
            fontSize: '24px',
            fontWeight: 'bold',
            fontFamily: 'DM Sans',
            color: '#031FB4'
          },
        },
        grid: {
          row: {
            colors: ["#f3f3f3", "transparent"],
            opacity: 0.5,
          },
        },
        markers: {
          size: 6,
          hover: {
            size: 8,
            sizeOffset: 10
          }
        },
        xaxis: {
          categories: mesesMovimentacoes1Ano,
          labels: {
            style: {
              fontSize: '12px',
              fontFamily: 'DM Sans',
              fontWeight: "bold"
            },
          },
        },
        yaxis: {
          labels: {
            style: {
              fontSize: '12px',
              fontFamily: 'DM Sans',
              fontWeight: "bold"
            },
          },
        },
      };

      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();
    </script>
  </div>
</div>