<div class="container row justify-content-center" th:fragment="tabelaAcoesUser">
<link href="css/stylesheet.css" rel="stylesheet" />

    <table class="table table-custom margin-table accordion">
      <thead>
        <tr>
          <th scope="col">SIGLA</th>
          <th scope="col">PREÇO ATUAL</th>
          <th scope="col">PREÇO MÉDIO COMPRA</th>
          <th scope="col">VARIAÇÃO</th>
          <th scope="col">QUANTIDADE</th>
          <th scope="col">OPÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <div th:each="acao, acaoStat : ${acoesUsuario}">

          <tr data-bs-toggle="collapse" th:attr="data-bs-target='#r' + ${acaoStat.index}">
            <div class="accordion-header" id="panelsStayOpen-headingOne">
              <td th:text="${acao[0]}"></td>
              <td th:text="'R$ ' + ${acao[2]}"></td>
              <td th:text="'R$ ' + ${acao[3]}"></td>
              <td th:text="${acao[4]} + '%'"></td>
              <td th:text="${acao[1]}"></td>
              <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg></i></td>
            </div>
          </tr>

          <tr class="collapse accordion-collapse" th:id="'r' + ${acaoStat.index}" data-bs-parent=".table">
            <td colspan="6">

              <div class="container-acordeao">

                <div class="label-comprar text-uppercase fw-bold">
                  <p>Compra</p>
                  <div class="label-comprar-line"></div>
                </div>

                <div class="label-vender text-uppercase fw-bold">
                  <p>Venda</p>
                  <div class="label-vender-line"></div>
                </div>
                
                <div class="input-quantidade text-start fw-bold">
                  <p class="text-uppercase">Quantidade</p>
                  <input
                      type="text"
                      class="form-control custom-input-acoes"
                      placeholder="Insira a quantidade de ações"
                    />
                </div>

                <div class="preco-atual text-uppercase fw-bold">
                  <p>Preço atual</p>
                  <p th:text="'R$ ' + ${acao[2]}"></p>
                </div>

                <div class="label-valor-total-operacao text-uppercase text-start fw-bold">
                  <span>Valor total da operação</span>
                </div>

                <div class="valor-total-da-operacao text-uppercase fw-bold">
                  <span>R$ XX,XX</span>
                </div>

                <div class="label-saldo-atual text-uppercase text-start fw-bold">
                  <span>Saldo atual</span>
                </div>

                <div class="saldo-atual text-uppercase fw-bold">
                  <span th:text="'R$ ' + ${session.usuarioLogado.saldo}"></span>
                </div>

                <div class="senha-autenticacao text-start fw-bold">
                  <img src="icons/seguranca2-icon.png"><span class="text-uppercase">Insira sua senha de Autenticação</span>
                  <div class="div-input-senha-autenticacao">
                    <input
                      type="password"
                      class="form-control custom-input-acoes"
                      placeholder="Senha de autenticação"
                    />
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                  </div>
                </div>
                
                <div class="button-comprar text-uppercase text-center fw-bold">
                  <button class="text-uppercase fw-bold">Comprar</button> 
                </div>
                
              </div>


            </td>
          </tr>
          
        </div>
      </tbody>
    </table>
</div>