<div
  class="container row justify-content-center"
  th:fragment="tabelaInvistaLogado"
>
  <link href="css/stylesheet.css" rel="stylesheet" />

  <table class="table table-custom margin-table accordion">
    <thead>
      <tr>
        <th scope="col">SIGLA</th>
        <th scope="col">PREÇO ATUAL</th>
        <th scope="col">VARIAÇÃO</th>
        <th scope="col">QUANTIDADE</th>
        <th scope="col">OPÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <div th:each="acao, acaoStat : ${acoesBD}">
        <tr>
          <div class="accordion-header" id="panelsStayOpen-headingOne">
            <td th:text="${acao[0]}" th:id="siglaAcao + ${acaoStat.index}"></td>
            <td th:text="'R$ ' + ${acao[1]}"></td>
            <td>??</td>
            <td th:text="${acao[2]}"></td>
            <td
              data-bs-toggle="collapse"
              th:attr="data-bs-target='#r' + ${acaoStat.index}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-down"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </td>
          </div>
        </tr>

        <tr
          class="collapse accordion-collapse"
          th:id="'r' + ${acaoStat.index}"
          data-bs-parent=".table"
        >
        
          <td th:replace ="~{fragments/tabela/secao/secaoGeralAcao :: secaoGeralAcao}"></td>
        
        </tr>
      </div>
    </tbody>
  </table>
</div>
