/* CSS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');

body {
  background-color: var(--darker-blue);
  color: var(--white);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  background-color: var(--dark-blue);
  bottom: 0;
  width: 100%;
}

:root {
  --ligther-blue: #031FB4;
  --light-blue: #0328EE;
  --darker-blue: #010725;
  --dark-blue: #010D50;
  --light-green: #2DC24E;
  --white: #fff;
  --black: #000;
  --gray: #909093;
  --red: #FF0000;
  --ligther-red: #FF4D4D;
}

/* LOGO */
.logo-small,
.logo-smaller,
.logo-xsmall {
  height: auto;
}

.logo-small {
  max-width: 50%;
}

.logo-smaller {
  max-width: 15%;
}

.logo-xsmall {
  max-width: 10%;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* END CSS LOGO */

/* HEADER */
.nav li a.nav-link:hover {
  transition: color 0.5s ease, text-decoration 0.5s ease;
  border-radius: 20px;
  background: hsla(231, 98%, 16%, 1);
  background: radial-gradient(circle, hsla(231, 98%, 16%, 1) 0%, hsla(230, 100%, 20%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(231, 98%, 16%, 1) 0%, hsla(230, 100%, 20%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(231, 98%, 16%, 1) 0%, hsla(230, 100%, 20%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#010D50", endColorstr="#001167", GradientType=1);
}

/* END CSS HEADER */

/* CSS BOTAO */
.botao1 {
  background-color: var(--light-blue);
  border-radius: 20px;
  border-style: none;
  color: var(--white);
  text-transform: uppercase;
  padding: 15px 30px;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-top: 30px;
}

.botao1:hover {
  background-color: var(--ligther-blue);
}

.botao2 {
  background-color: var(--red);
  border-radius: 20px;
  border-style: none;
  color: var(--white);
  text-transform: uppercase;
  padding: 15px 30px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.botao2:hover {
  background-color: var(--ligther-red);
}

.botao3 {
  background-color: var(--red);
  border-radius: 20px;
  border-style: none;
  color: var(--white);
  text-transform: uppercase;
  padding: 5px 8px;
  transition: background-color 0.3s;
  font-size: 16px;
  width: 80px;
  height: 30px;
}

.botao3:hover {
  background-color: var(--ligther-red);
}

/* END CSS BOTAO */

/* CSS WIDTH */
.max-width-800px {
  max-width: 800px;
}

.max-width-600px {
  max-width: 600px;
}

.max-width-500px {
  max-width: 500px;
}

.max-width-550px {
  max-width: 550px;
}

.width800px {
  width: 800px;
}

/* END CSS WIDTH */

/* CSS INPUT */
.custom-input {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 50px;
}

.custom-input::placeholder {
  color: var(--white);
}

.custom-input:focus {
  background-color: rgb(95, 95, 95);
  border-color: var(--gray);
  box-shadow: none;
  color: var(--white) !important;
}

/* END CSS INPUT */

/* CSS CUSTOM CARD */
.custom-card {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 60px;
  width: 600px !important;
  height: 200px;
  margin: 0;
}

.custom-card2 {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 65px;
  width: 80px !important;
  height: 60px !important;
}

.custom-card3 {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 30px;
  width: 300px !important;
  height: 480px !important;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 48px;
}

.custom-card3:first-child {
  margin-left: 0px;
}




.custom-card3 a {
  margin-top: 30px;
}

.custom-card4 {
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 60px;
  width: 470px !important;
  height: 190px;
  margin: 0;
}

.custom-card5 {
  background-color: var(--white);
  color: var(--light-green);
  border-radius: 60px;
  width: 430px !important;
  height: 50px;
  margin: 0;
}

.custom-card6 {
  background-color: var(--white);
  color: var(--red);
  border-radius: 60px;
  width: 430px !important;
  height: 50px;
  margin: 0;
}

.custom-card7 {
  background-color: var(--dark-blue);
  color: var(--white);
  width: 300px !important;
  height: 480px !important;
  border-radius: 10px;
  margin-left: 30px;
}

.custom-card7:first-child {
  margin-left: 0px;
}

.custom-card7 img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-card8 {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 60px;
  width: 600px;
  height: 280px;
  margin: 0;
  padding-top: 20px;
  margin-top: 60px;
}


.texto-card7 {
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  max-width: 500px;
  overflow-y: auto;
  border-radius: 20px;
  margin-top: 30%;
  margin-bottom: 30%;
}

.card2 {
  max-width: 600px;
  /* overflow-y: auto; */
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  /* padding-left: 20%; */
}

.card3 {
  max-width: 500px;
  overflow-y: auto;
  border-radius: 20px;
  margin-top: 30%;
  margin-bottom: 30%;
}

.card4 {
  background-color: var(--white);
  max-width: 700px;
  overflow-y: 200px;
  border-radius: 20px;
}

.card-body {
  padding-top: 5%;
  padding-bottom: 5%;
}

.card-body2 {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
  background-color: var(--white);
}

.card-text {
  color: var(--white);
  font-size: 16px;
  margin-top: 15px;
}

.altura-card {
  height: 25px;
}

.home-logado-card {
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 350px;
}

.home-logado-card2 {
  margin-left: 18px;
  padding-top: 0px;
  margin-top: 10px;
}

.home-logado-card3 {
  padding-top: 0px;
  margin-top: 10px;
}

/* END CSS CUSTOM CARD */

/* CSS OUTROS */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
  margin-top: 15px;
}

.text-center2 {
  text-align: center;
}


.container-img-background {
  background-image: url('../images/login-pic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-img-background2 {
  background-image: url('../images/cadastro-pic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-img-background3 {
  background-image: url('../images/sobre-pic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-img-background4 {
  background-image: url('../images/contato-pic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #010725;
}



.form-row>div {
  float: left;
  width: 50%;
  padding-left: .25rem !important;
  padding-right: .25rem !important;
}

.mb-10 {
  margin-bottom: 10%;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100{
  margin-top: 100px
}

.nav-link.active {
  text-decoration: underline !important;
  border-radius: 20px;
}

.margem-esquerda {
  margin-left: -340;
}

.margin-top {
  margin-top: -50;
}

.fonte-arial {
  font-family: Arial;
}

.text-color-blue {
  color: var(--dark-blue);
}

.preto {
  color: var(--black) !important;
}

.text-color-blue2 {
  color: var(--light-blue);
}

.cinza {
  color: var(--gray);
}

.vermelho {
  color: var(--red);
}

.branco {
  color: var(--white)
}

.verde {
  color: var(--light-green)
}

.azul-claro {
  color: var(--light-blue)
}

.sobreMenu {
  background-color: var(--dark-blue);
  border-radius: 20px;
  border-style: none;
  color: var(--white);
  text-transform: uppercase;
  padding: 60px 120px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.texts {
  padding-top: 9rem !important;
}

.custom-sublinhado {
  position: relative;
  transition: color 2s ease;
}

.custom-sublinhado::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -2px;
  left: 0;
  background-color: var(--ligther-blue);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 56px;
}

.fonte-size-404 {
  font-size: 280px;
}

.fonte-size-index{
  font-size: 90px;
}


/* END CSS OUTROS */

/* CSS CUSTOM PADDING */
.custom-padding-left {
  padding-left: 265px;
}

.custom-padding-left2 {
  padding-left: 40px;
}

.custom-padding-left3 {
  padding-left: 10px;
}

.custom-padding-left4 {
  padding-left: 185px;
}

.custom-padding-left5 {
  padding-left: 250px;
}

.custom-padding-left6 {
  padding-left: 143px;
}

.custom-padding-left7 {
  padding-left: 100px;
}

.custom-padding-left8{
  padding-left: 950px
}

.custom-padding-left9 {
  padding-left: 25px;
}

.custom-padding-top {
  padding-top: 45px;
}

.custom-padding-bottom {
  padding-bottom: 6.5%;
}

.custom-padding-bottom-text {
  padding-bottom: 20px;
}

.custom-padding-right-index {
  padding-right: 280px
}

/* CSS TABLE CARTEIRA */
.table-custom {
  padding: 40px;
  /* Espaçamento interno das células (ajuste conforme necessário) */
  text-align: center;
  /* Alinhamento de texto centralizado */
  color: white;
  width: 1200px;
  font-size: 17px;
}

.table-custom-invista {
  text-align: center;
  /* Alinhamento de texto centralizado */
  color: white;
  font-size: 17px;
}

#saldo {
  opacity: 1;
  /* Defina a opacidade inicial para 1 (visível) */
  transition: opacity 0.2s ease-in-out;
  /* Adicione uma transição suave para a propriedade de opacidade */
}

#toggleEye {
  cursor: pointer;
  /* Adicione um cursor de apontador ao ícone do olho */
}

.custom-margin-left {
  margin-left: 15%;
}

.custom-margin-left2 {
  margin-left: 380px;
}

.margin-table {
  margin-left: 400px;
}


.margin-left {
  margin-left: 10px
}

.margim-cards-index{
  margin-left: 584px
}

/* CSS ACORDEAO TABLE COMPRAR */
.container-comprar {
  margin-left: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  letter-spacing: 1.5px;
  grid-template-areas:
    "label-comprar label-vender"
    "input-quantidade quantidade-disponivel"
    "input-preco-acao-compra preco-atual"
    "label-valor-total-operacao valor-total-da-operacao"
    "label-saldo-atual saldo-atual"
    "senha-autenticacao senha-autenticacao"
    "button-comprar button-comprar";
}

.quantidade-disponivel {
  grid-area: quantidade-disponivel;
  text-wrap: nowrap;
  margin-bottom: 0px;
}

.quantidade-disponivel p:first-child {
  margin-bottom: 10px;
}

.button-comprar {
  grid-area: button-comprar;
  width: auto;
}

.button-comprar button {
  width: 100%;
  background-color: #40F201;
  color: #010D50;
  border-radius: 37px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.button-comprar button:hover {
  background-color: #2DC24E;
}

.senha-autenticacao {
  grid-area: senha-autenticacao;
}

.senha-autenticacao img {
  width: 21px;
  margin-bottom: 7px;
  margin-right: 7px;
}

.senha-autenticacao input {
  width: 325px;
}

.label-saldo-atual {
  grid-area: label-saldo-atual;
  margin-bottom: 20px;
}

.saldo-atual {
  grid-area: saldo-atual;
}

.label-valor-total-operacao {
  grid-area: label-valor-total-operacao;
  margin-bottom: 20px;
}

.valor-total-da-operacao {
  grid-area: valor-total-da-operacao;
}

.input-preco-acao-compra {
  margin-bottom: 20px;
  grid-area: input-preco-acao-compra;
  width: 350px;
}

.input-preco-acao-compra p {
  margin-bottom: 0px;
}

.input-quantidade {
  margin-bottom: 20px;
  grid-area: input-quantidade;
}

.input-quantidade p {
  margin-bottom: 0px;
}

.preco-atual {
  grid-area: preco-atual;
}

.preco-atual p:first-child {
  margin-bottom: 10px;
}

.preco-atual p:last-child {
  margin-bottom: 0px;
}

.label {
  border: 0px solid #000;
  background-color: var(--darker-blue);
  padding-bottom: 7px;
  color: white;
  width: 80%;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.label-comprar-ativo {
  color: #40F201;
  border-bottom: 2px solid #40F201;
}

.label-vender-inativo {
  color: rgba(254, 1, 1, 0.3);
  border-bottom: 2px solid rgba(254, 1, 1, 0.3);
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.label-vender-inativo:hover {
  color: var(--red);
  border-bottom: 2px solid var(--red);
}

.custom-input-acoes {
  border-radius: 100%;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 40px;
  width: 95% !important;
  padding: 3px 3px 3px 10px;
}

.custom-input-acoes::placeholder {
  color: var(--white);
}

.custom-input-acoes:focus {
  background-color: rgb(95, 95, 95);
  border-color: var(--gray);
  box-shadow: none;
  color: var(--white) !important;
}

.div-input-senha-autenticacao {
  display: flex;
}

.div-input-senha-autenticacao svg {
  margin-top: 10px;
  margin-left: 10px;
}

/* CSS ACORDEAO TABLE VENDER */
.container-vender {
  margin-left: auto;
  width: 50%;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  letter-spacing: 1.5px;
  grid-template-areas:
    "label-comprar label-vender"
    "input-quantidade quantidade-disponivel"
    "input-preco-acao-venda preco-atual"
    "label-valor-total-operacao valor-total-da-operacao"
    "label-saldo-atual saldo-atual"
    "senha-autenticacao senha-autenticacao"
    "button-vender button-vender";
}

.button-vender {
  grid-area: button-vender;
  width: auto;
}

.button-vender button {
  width: 100%;
  background-color: #E30101;
  color: white;
  border-radius: 37px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.button-vender button:hover {
  background-color: #FF0000;
}

.senha-autenticacao {
  grid-area: senha-autenticacao;
}

.senha-autenticacao img {
  width: 21px;
  margin-bottom: 7px;
  margin-right: 7px;
}

.senha-autenticacao input {
  width: 325px;
}

.label-saldo-atual {
  grid-area: label-saldo-atual;
  margin-bottom: 20px;
}

.saldo-atual {
  grid-area: saldo-atual;
}

.label-valor-total-operacao {
  grid-area: label-valor-total-operacao;
  margin-bottom: 20px;
}

.valor-total-da-operacao {
  grid-area: valor-total-da-operacao;
}

.input-preco-acao-venda {
  margin-bottom: 20px;
  grid-area: input-preco-acao-venda;
  width: 350px;
}

.input-preco-acao-venda p {
  margin-bottom: 0px;
}

.input-quantidade {
  margin-bottom: 20px;
  grid-area: input-quantidade;
}

.input-quantidade p {
  margin-bottom: 0px;
}

.preco-atual {
  grid-area: preco-atual;
}

.preco-atual p:first-child {
  margin-bottom: 10px;
}

.preco-atual p:last-child {
  margin-bottom: 0px;
}

.label-comprar-inativo {
  color: rgba(1, 254, 1, 0.3);
  border-bottom: 2px solid rgba(1, 254, 1, 0.3);
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.label-comprar-inativo:hover {
  color: #40F201;
  border-bottom: 2px solid #40F201;
}

.label-vender-ativo {
  color: var(--red);
  border-bottom: 2px solid var(--red);
}

.custom-input-acoes {
  border-radius: 100%;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 40px;
  width: 100%;
  padding: 3px 3px 3px 10px;
}

.custom-input-acoes::placeholder {
  color: var(--white);
}

.custom-input-acoes:focus {
  background-color: rgb(95, 95, 95);
  border-color: var(--gray);
  box-shadow: none;
  color: var(--white) !important;
}

.div-input-senha-autenticacao {
  display: flex;
}

.div-input-senha-autenticacao svg {
  margin-top: 10px;
  margin-left: 10px;
}


/* CSS NAVBAR */
.navbar {
  background-color: #010725;
}

.btn-custom {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s, border-style 0.5s;
}

.btn-custom:hover {
  background-color: var(--dark-blue);
  color: white;
  border-style: var(--light-blue);
}

.btn-custom2 {
  color: var(--white);
  border: 2px solid var(--red);
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s, border-style 0.5s;
}

.btn-custom2:hover {
  background-color: var(--ligther-red);
  color: white;
  border-style: var(--light-blue);
}

.input-custom {
  background-color: white;
  color: white;
  border-radius: 20px;
}


/* END CSS CUSTOM PADDING */

/* CSS GRAFICO */
#chart {
  color: #000;
  font-family: 'DM Sans';
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
  background: var(--white) !important;
  border: 1px solid #ddd;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
  width: 700px;
}

select.flat-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #008FFB url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg/' width='60px' height='60px'><polyline fill='white' points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") no-repeat scroll right 2px top 9px / 16px 16px;
  border: 0 none;
  border-radius: 3px;
  color: var(--white);
  font-family: arial, tahoma;
  font-size: 16px;
  font-weight: bold;
  outline: 0 none;
  height: 33px;
  padding: 5px 20px 5px 10px;
  text-align: center;
  text-indent: 0.01px;
  text-overflow: "";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  width: 250px !important;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  max-width: 500px;
}

select.flat-select:focus,
select.flat-select:hover {
  border: 0;
  outline: 0;
}

.apexcharts-canvas {
  margin: 0 auto;
}

#html {
  display: none;
}

#containerCaroussel {
  width: 50vw;
  mask: linear-gradient(
    90deg,
    transparent,
    white 40%,
    white 60%,
    transparent
  );
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 40%,
    white 60%,
    transparent
  );
  margin: 0 auto;
  margin-top: 30px;
  font-size: large;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

li {
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px var(--dark-blue-shadow),
    2px 3px 3px var(--dark-blue-shadow),
    2px 5px 5px var(--dark-blue-shadow),
    2px 8px 8px var(--dark-blue-shadow);
}

#containerCaroussel[data-animated] {
  overflow: hidden;
}

#containerCaroussel[data-animated] #list {
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
     margin-left: 100%;
  }
  100% {
     margin-left: -100%;
  }
}

.customGradiente {
  background: radial-gradient(circle, rgba(16,12,87,1) 0%, rgba(1,7,37,1) 30%);
}

.customGradiente2 {
  background: linear-gradient(180deg, rgba(1,10,53,1) 5%, rgba(1,7,37,1) 80%);
}

.perfilIcon {
  transition: width 0.3s, height 0.3s;
}

.perfilIcon:hover {
  width: 38px;
  height: 42px;
}

/* END CSS GRAFICO */