/* CSS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700&display=swap");

body {
  background-color: #010725;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}

.smaller-logo {
  max-width: 15%;
  height: auto;
}

.xsmaller-logo {
  max-width: 10%;
  height: auto;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.move-left {
  margin-right: auto !important;
}

.no-flex-wrap {
  flex-wrap: nowrap !important;
}

.nav li a.nav-link:hover {
  /* color: #0328EE !important; */
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.botao1 {
  background-color: #0328EE;
  border-radius: 20px;
  border-style: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.botao1:hover {
  background-color: #031FB4;
}

.texts{
  padding-left: 12rem!important;
  padding-top: 9rem!important;
}

.h1{
  font-size: 80px;
}

.max-width-600px {
  max-width: 600px;
}

.max-width-500px {
  max-width: 500px;
}

footer{
  background-color: #010D50;

}
