<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{fragments/headFragment :: head('StockTrade - Home')}"
  ></head>

  <body id="home-page">
    <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div th:replace="~{fragments/headerFragment :: header('Home')}"></div>

        <div class="justify-content-center">
          <p class="text-center text-color-blue2 fonte-size-404 fw-bold">
            404
          </p>
        </div>
        <div> <h2 class="text-center">
          Página não encontrada
        </h2>
        <p class= "fs-6 mt-4 mb-3 text-center">
          A página que você pesquisou não pode ser encontrada. Verifique a URL digitada e tente novamente. Ou clique nas opções abaixo.
        </p>
      </div>

      <div class="mt-4 text-center">
        <a href="/" class="btn btn-outline-primary botao1 me-4">Retornar para a home</a>

      

    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>