<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/headFragment :: head('StockTrade - Carteira')}"></head>

<body id="index-logado-page">
  <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

  <main>
    <div th:replace="~{fragments/headerLogadoFragment :: header('Carteira')}"></div>
    <div class="container-fluid mt-2 mb-2">
      <div class="row ms-5 mt-5">
        <!-- Coluna dos textos à esquerda -->
        <div class="col-md-6">
          <h1 class="h1">
            Carteira
          </h1>
          <!-- Data/Hora -->
          <p class="fs-8 mb-3 max-width-800px cinza" id="data-hora">
          </p>

          <h1 class="h6 fw-bold">
            Saldo Atual <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-eye ml-2" viewBox="0 0 16 16" id="toggleEye">
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
            </svg>
          </h1>

          <p class="h3 fs-8" id="saldo">
            R$<span th:text="${session.usuarioLogado.saldo}"></span>
          </p>

          <p class="h9 fs-8 vermelho" id="variacao-saldo">
            <span th:text="${variacaoSaldo24H}"></span>
            <span class="fs-8 mb-3 max-width-800px cinza">
              (Últimas 24 Horas)
            </span>
          </p>

          <div class="row width800px">
            <!-- Primeira coluna de informações -->
            <div class="col">
              <p class="h6 mt-60">
                Lucro Total
              </p>
              <p class="h9 fs-8 verde">
                + 2,52% (+R$324,82)
              </p>
            </div>

            <!-- Segunda coluna de informações -->
            <div class="col">
              <p class="h6 mt-60">
                Melhor Performance
              </p>
              <p class="h9 fs-8 verde">
                <img src="images/itau-icon.png" class="img-fluid rounded-start" alt="edu-financeira" /> + 10.52%
                (+R$627.82)
              </p>
            </div>

            <!-- Terceira coluna de informações -->
            <div class="col">
              <p class="h6 mt-60">
                Pior Performance
              </p>
              <p class="h9 fs-8 vermelho">
                <img src="images/vale1-icon.png" class="img-fluid rounded-start" alt="edu-financeira" /> - 1,23%
                (-R$87,32)
              </p>
            </div>
          </div>
        </div>

        <!-- Coluna do gráfico à direita -->
        <div class="col mt-8 margin-top">
          <div th:replace="~{fragments/grafico/graficoSimplesFragment :: graficoSimples}"></div>
        </div>
      </div>
    </div>


    <div class="container-fluid mt-2 mb-2">
      <div class="row ms-5 mt-5">
        <!-- Coluna dos textos à esquerda -->
        <div class="col-md-6">
          <h1 class="h1">
            Seus Ativos
          </h1>
        </div>
      </div>

      <div th:replace="~{fragments/tabela/tabelaAcoesUser :: tabelaAcoesUser}"></div>

    </div>

    <div class="container-fluid mt-2 mb-2">
      <div class="row ms-5 mt-5">
        <!-- Coluna dos textos à esquerda -->
        <div class="col-md-6">
          <h1 class="h1">
            Suas Ofertas de Compra
          </h1>
        </div>
      </div>

      <div th:replace="~{fragments/tabela/tabelaOfertasCompraUser :: tabelaOfertasCompraUser}"></div>
    </div>

    <div class="container-fluid mt-2 mb-2">
      <div class="row ms-5 mt-5">
        <!-- Coluna dos textos à esquerda -->
        <div class="col-md-6">
          <h1 class="h1">
            Suas Ofertas de Venda
          </h1>
        </div>
      </div>

      <div th:replace="~{fragments/tabela/tabelaOfertasVendaUser :: tabelaOfertasVendaUser}"></div>
    </div>

  </main>

  <footer th:replace="~{fragments/footerLogadoFragment :: footer}"></footer>

  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <script th:inline="javascript">
    // Função para alternar a visibilidade do saldo quando o ícone do olho é clicado
    document.getElementById("toggleEye").addEventListener("click", function () {
      const saldo = document.getElementById("saldo");
      const variacaoSaldo = document.getElementById("variacao-saldo");
      if (saldo.style.opacity === "0") {
        saldo.style.opacity = "1";
        variacaoSaldo.style.opacity = "1";
      } else {
        saldo.style.opacity = "0";
        variacaoSaldo.style.opacity = "0";
      }
    });

    function atualizarTela() {
      const elementoDataHora = document.getElementById("data-hora");
      const dataHoraAtual = new Date();
      const options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' };
      const dataHoraFormatada = dataHoraAtual.toLocaleDateString('pt-BR', options);
      // Atualizar data/hora
      elementoDataHora.textContent = "Atualizado em " + dataHoraFormatada;

      // Atualizar Variação Saldo
      const elementoVariacaoSaldo = document.getElementById("variacao-saldo");
      const valorSaldo = parseFloat(elementoVariacaoSaldo.querySelector('span').textContent);

      if (valorSaldo > 0) {
        elementoVariacaoSaldo.classList.add("verde");
        elementoVariacaoSaldo.querySelector('span').textContent = "+ R$" + valorSaldo
      } else if (valorSaldo < 0) {
        elementoVariacaoSaldo.classList.add("vermelho");
        elementoVariacaoSaldo.querySelector('span').textContent = "- R$" + valorSaldo
      } else {
        elementoVariacaoSaldo.classList.add("branco");
        elementoVariacaoSaldo.querySelector('span').textContent = "R$" + valorSaldo
      }
    }

    window.onload = function () {
      atualizarTela();
    };
  </script>

  <script>

    function limparCampos(event) {
      const acoesCompra = document.getElementsByClassName('quantidadeAcoesInputCompra')
      const senhasCompra = document.getElementsByClassName('senhaAutenticacaoInputCompra')

      const acoesVenda = document.getElementsByClassName('quantidadeAcoesInputVenda')
      const senhasVenda = document.getElementsByClassName('senhaAutenticacaoInputVenda')

      const precoAcaoVenda = document.getElementsByClassName('quantidadePrecoAcoesInputVenda')
      const precoAcaoCompra = document.getElementsByClassName('quantidadePrecoAcoesInputCompra')

      for (i = 0; i < acoesCompra.length; i++) {
        acoesCompra.item(i).value = ""
        senhasCompra.item(i).value = ""

        acoesVenda.item(i).value = ""
        senhasVenda.item(i).value = ""

        precoAcaoVenda.item(i).value = ""
        precoAcaoCompra.item(i).value = ""
      }
    }

    function limitSenhaAutenticacao(input) {
      input.value = input.value.replace(/\D/g, ""); // permite apenas dígitos
      if (input.value.length > 4) {
        input.value = input.value.slice(0, 4); // limita a 4 dígitos
      }
    }

    function verificarCamposSolicitacaoCompra(event) {
      const acoes = document.getElementsByClassName('quantidadeAcoesInputCompra')
      const senhas = document.getElementsByClassName('senhaAutenticacaoInputCompra')
      const precoPorAcao = document.getElementsByClassName('quantidadePrecoAcoesInputCompra')
      const senhaError = document.getElementsByClassName('senha-error-compra')

      j = acoes.length;

      for (i = 0; i < acoes.length; i++) {

        if (acoes.item(i).value != "" && senhas.item(i).value != "" && precoPorAcao.item(i).value != "") {

          const siglaAcao = document.getElementById("siglaAcao" + i)
          console.log(senhaError.item(i))

          enviarSolicitacaoCompra(event, acoes.item(i).value, senhas.item(i).value, siglaAcao.innerText, precoPorAcao.item(i).value, senhaError.item(i))
          break;
        }
        j--;
      }

      if (j == 0) {
        alert("Preencha todos os campos obrigatórios")
      }
    }

    function enviarSolicitacaoCompra(event, quantidadeAcoes, senhaAutenticacao, siglaAcao, precoAcao, senhaError) {

      const data = {
        siglaAcao: siglaAcao,
        quantidadeAcoes: quantidadeAcoes,
        senhaAutenticacao: senhaAutenticacao,
        precoAcao: precoAcao
      }

      fetch("/carteira/comprar", {
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          if (response.ok) {
            window.location.href = "/carteira";
          } else {
            console.log(response.data);
            response.json().then(data => {
              senhaError.textContent = data.message;
            });
          }
        })
        .catch((error) => {
          alert("Ocorreu um erro ao comprar!");
          console.error(error);
        });
    }

  </script>

  <script>
    function verificarCamposSolicitacaoVenda(event) {
      const acoes = document.getElementsByClassName('quantidadeAcoesInputVenda')
      const senhas = document.getElementsByClassName('senhaAutenticacaoInputVenda')
      const precoPorAcao = document.getElementsByClassName('quantidadePrecoAcoesInputVenda')
      const senhaError = document.getElementsByClassName('senha-error-venda')

      j = acoes.length;

      for (i = 0; i < acoes.length; i++) {

        if (acoes.item(i).value != "" && senhas.item(i).value != "" && precoPorAcao.item(i).value != "") {

          const siglaAcao = document.getElementById("siglaAcao" + i)
          console.log(senhaError.item(i))

          enviarSolicitacaoVenda(event, acoes.item(i).value, senhas.item(i).value, siglaAcao.innerText, precoPorAcao.item(i).value, senhaError.item(i))
          break;
        }
        j--;
      }

      if (j == 0) {
        alert("Preencha todos os campos obrigatórios")
      }
    }

    function enviarSolicitacaoVenda(event, quantidadeAcoes, senhaAutenticacao, siglaAcao, precoAcao, senhaError) {

      const data = {
        siglaAcao: siglaAcao,
        quantidadeAcoes: quantidadeAcoes,
        senhaAutenticacao: senhaAutenticacao,
        precoAcao: precoAcao
      }

      fetch("/carteira/vender", {
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          if (response.ok) {
            window.location.href = "/carteira";
          } else {
            console.log(response.data);
            response.json().then(data => {
              senhaError.textContent = data.message;
            });
          }
        })
        .catch((error) => {
          alert("Ocorreu um erro ao vender!");
          console.error(error);
        });
    }
  </script>


  <script>

    function sumirContainerCompraEAparecerContainerVender(event) {
      const containerCompra = document.getElementsByClassName("container-comprar");
      const containerVender = document.getElementsByClassName("container-vender");

      for (i = 0; i < containerCompra.length; i++) {
        containerCompra.item(i).style.display = "none";
        containerVender.item(i).style.display = "grid";
      }
    }

    function sumirContainerVenderEAparecerContainerCompra(event) {
      const containerCompra = document.getElementsByClassName("container-comprar");
      const containerVender = document.getElementsByClassName("container-vender");

      for (i = 0; i < containerCompra.length; i++) {
        containerCompra.item(i).style.display = "grid";
        containerVender.item(i).style.display = "none";
      }
    }
  </script>

</body>

</html>