
<head th:fragment="headFragment">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <title>StockTrade</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/headers/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="../static/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="..//static/css/stylesheet.css" rel="stylesheet" />

    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/only-logo-bg-off.png"
    />
  </head>