<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{fragments/headFragment :: head('StockTrade - Home')}"
  ></head>

  <body id="home-page">
    <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div th:replace="~{fragments/headerFragment :: header('Home')}"></div>

      <div class="container-fluid mt-5 mb-4 pdb5">
        <div class="row ms-5 mt-5">
          <div class="col-md-6 mt-5 texts">
            <h1 class="titulo1 h1">
              Compre e Venda <br />
              suas <span class="custom-sublinhado">ações</span>
            </h1>
            <p class="fs-6 mt-4 mb-3 max-width-800px">
              A StockTrade oferece um amplo leque de ativos e um expressivo
              compromisso com a transparência e a educação do investidor,
              tornando mais fácil e seguro a tomada de decisões e auxiliando o
              consumidor a construir um futuro financeiro sólido.
            </p>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <img
              src="images/laptop-home.png"
              alt="Imagem laptop"
              class="img-fluid"
              style="width: 100%"
            />
          </div>
        </div>
      </div>

      <footer th:replace="~{fragments/footerFragment :: footer}"></footer>
    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
