<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{fragments/headFragment :: head('StockTrade - Home')}"
  ></head>

  <body id="index-logado-page" class="customGradiente2">
    <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div
        th:replace="~{fragments/headerAdmFragment :: header('Home')}"
      ></div>

      <div class="container-fluid mt-2 mb-2">
        <div class="row ms-5 mt-5">
          <div class="col-md-6 custom-padding-left">
            <h1 class="h4 fw-bold" th:text="'Olá, ' + ${session.usuarioLogado.nome}"></h1>
          </div>
        </div>
      </div>

      <div class="container mb-10">
        <div class="container">
          
        </div>

        <div class="container-fluid mt-2 mb-2">
          <div class="row ms-5 mt-5">
            <div class="col-md-6 text-center">
              <h1 class="h2 fw-bold custom-padding-top custom-padding-right-index">Notícias</h1>
            </div>
          </div>
        </div>

        <div th:replace="~{fragments/cardHomeLogado/grupoCardHomeLogado :: grupoCardHomeLogado}"></div>
        
      </div>
    </main>

    <footer th:replace="~{fragments/footerLogadoFragment :: footer}"></footer>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
