
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  
  <head th:replace="~{fragments :: headFragment}">
    
  </head>

  <body id="home-page">
    <svg xmlns="../static/images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div class="container-fluid pt-3">
        <header
          class="d-flex align-items-center justify-content-between py-3 mb-4 no-flex-wrap mx-5"
        >
          <!-- logo -->
          <a href="index.html">
            <img
              src="../static/images/logo-bg-off.png"
              alt="Logo"
              class="img-fluid logo small-logo2 me-5"
            />
          </a>

          <ul class="nav col-12 col-md-auto mb-2 mb-md-0 move-left">
            <li>
              <a
                href="index.html"
                class="nav-link px-2 link-secondary text-color-white text-uppercase text-white active"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Invista</a
              >
            </li>
            <li>
              <a
                href="sobrePage.html"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Sobre</a
              >
            </li>
            <li>
              <a
                href="contatoPage.html"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Contato</a
              >
            </li>
          </ul>

          <div class="col-md-3 text-end">
            <a href="loginPage.html" class="btn btn-outline-primary botao1 me-4"
              >Login</a
            >
            <a
              href="cadastroPage.html"
              class="btn btn-outline-primary botao1 me-4"
              >Cadastre-se</a
            >
          </div>
        </header>
      </div>

      <div class="container-fluid mt-5 mb-4">
        <div class="row ms-5 mt-5">
          <div class="col-md-6 mt-5 texts">
            <h1 class="titulo1 h1">
              Compre e Venda <br> suas <span class="custom-sublinhado">ações</span>
            </h1>
            <p class="fs-6 mt-4 mb-3 max-width-800px">
              A StockTrade oferece um amplo leque de ativos e um expressivo
              compromisso com a transparência e a educação do investidor,
              tornando mais fácil e seguro a tomada de decisões e auxiliando o
              consumidor a construir um futuro financeiro sólido.
            </p>
          </div>
          <div class="col-md-6 d-flex justify-content-end">
            <img
              src="../static/images/laptop-home.png"
              alt="Imagem laptop"
              class="img-fluid"
              style="width: 100%"
            />
          </div>
        </div>
      </div>

      <footer class="footer py-3 container-fluid mt-5">
        <div
          class="mx-5 d-flex justify-content-between align-items-center border-bottom border-white pb-4 pt-2 pe-5"
        >
          <!-- Logo à esquerda -->
          <a href="index.html">
            <img
              src="../static/images/logo-bg-off.png"
              alt="Logo"
              class="img-fluid logo small-logo2 me-5 ms-5"
            />
          </a>

          <!-- Imagens à direita -->
          <div class="d-flex">
            <img
              src="../static/images/insta.png"
              alt="Instagram"
              class="img-fluid logo small-logo me-1"
            />

            <img
              src="../static/images/facebook.png"
              alt="Facebook"
              class="img-fluid logo small-logo me-1"
            />

            <img
              src="../static/images/linkedin.png"
              alt="LinkedIn"
              class="img-fluid logo small-logo me-1"
            />
          </div>
        </div>

        <div
          class="mx-5 d-flex justify-content-between align-items-center pb-2 ps-5"
        >
          <ul class="nav col-12 col-md-auto mb-2 mb-md-0 move-left">
            <li>
              <a
                href="index.html"
                class="nav-link px-2 link-secondary text-color-white text-uppercase text-white"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Invista</a
              >
            </li>
            <li>
              <a
                href="sobrePage.html"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Sobre</a
              >
            </li>
            <li>
              <a
                href="contatoPage.html"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Contato</a
              >
            </li>
          </ul>
        </div>
      </footer>
    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var currentPage = document.body.id;

        if (currentPage === "home-page") {
          document.querySelector(".nav-link.home").classList.add("active");
        }
      });
    </script>
  </body>
</html>
