<!DOCTYPE html>
<html lang="en">
  <head
    th:replace="~{fragments/headFragment :: head('StockTrade - Invista')}"
  ></head>
  <body id="sobre-page">
    <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div
        th:replace="~{fragments/headerLogadoFragment :: header('Invista')}"
      ></div>

      <div class="col-12">
        <h1 class="text-left custom-margin-left">Invista</h1>
      </div>
      <div class="container mb-4 justify-content-center">
        
        <div class="container row justify-content-center">
          <table class="table table-custom-invista">
            <thead>
              <tr>
                <th scope="col">EMPRESA</th>
                <th scope="col">SIGLA</th>
                <th scope="col">PREÇO ATUAL</th>
                <th scope="col">VARIAÇÃO DIA</th>
                <th scope="col">OPÇÕES</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="acao : ${acoes}">
                <td>???</td>
                <td th:text="${acao.sigla}"></td>
                <td th:text="'R$ ' + ${acao.valor}"></td>
                <td>???</td>
                <td>???</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <footer th:replace="~{fragments/footerFragment :: footer}"></footer>
  </body>
</html>
