<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <title>StockTrade - Sobre</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/headers/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="../static/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="..//static/css/stylesheet.css" rel="stylesheet" />

    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/only-logo-bg-off.png"
    />
  </head>
  <body id="sobre-page">
    <svg xmlns="../static/images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div class="container-fluid pt-3">
        <header
          class="d-flex align-items-center justify-content-between py-3 mb-4 no-flex-wrap mx-5"
        >
          <!-- logo -->
          <a href="index.html">
            <img
              src="../static/images/logo-bg-off.png"
              alt="Logo"
              class="img-fluid logo small-logo2 me-5"
            />
          </a>

          <ul class="nav col-12 col-md-auto mb-2 mb-md-0 move-left">
            <li>
              <a
                href="index.html"
                class="nav-link px-2 link-secondary text-color-white text-uppercase text-white"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white active"
                >Invista</a
              >
            </li>
            <li>
              <a
                href="sobrePage.html"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Sobre</a
              >
            </li>
            <li>
              <a
                href="contatoPage.html"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Contato</a
              >
            </li>
          </ul>

          <div class="col-md-3 text-end">
            <a href="loginPage.html" class="btn btn-outline-primary botao1 me-4"
              >Login</a
            >

            <a
              href="cadastroPage.html"
              class="btn btn-outline-primary botao1 me-4"
              >Cadastre-se</a
            >
          </div>
        </header>
    </div>

    <div class="container mb-4 justify-content-center">
      <div class="container row justify-content-center">
        <div class="col-md-6 mb-5 texts justify-content-center">
          <h2 class="titulo h4 max-width-550px">Invista Agora Mesmo!</h2>
          <p class="fs-6 mt-4 mb-3 max-width-550px">
            Venha conhecer esse mercado que cresce cada vez mais na atualidade! Aprenda a gerir seu dinheiro da melhor maneira com a StrockTrade
          </p>
        </div>
      </div>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-md-2">
            <div class="card custom-card2">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="../static/images/carteira-icon.png"
                    class="img-fluid max-img-width"
                    alt="seguranca"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card custom-card2">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="../static/images/seguranca2-icon.png"
                    class="img-fluid max-img-width"
                    alt="seguranca"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card custom-card2">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="../static/images/investimentos-icon.png"
                    class="img-fluid max-img-width"
                    alt="seguranca"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card custom-card2">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="../static/images/compravenda-icon.png"
                    class="img-fluid max-img-width"
                    alt="seguranca"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card custom-card2">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="../static/images/dividendos-icon.png"
                    class="img-fluid max-img-width"
                    alt="seguranca"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      