<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <title>StockTrade - Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="css/stylesheet.css" rel="stylesheet" />

    <link
      rel="icon"
      type="image/x-icon"
      href="images/only-logo-bg-off.png"
    />
  </head>
  <body>
    <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div class="container-fluid pt-3">
        <header
          class="d-flex align-items-center justify-content-between py-3 mb-4 no-flex-wrap mx-5"
        >
          <!-- logo -->
          <a href="/">
            <img
              src="images/logo-bg-off.png"
              alt="Logo"
              class="img-fluid logo small-logo2 me-5"
            />
          </a>

          <ul class="nav col-12 col-md-auto mb-2 mb-md-0 move-left">
            <li>
              <a
                href="/"
                class="nav-link px-2 link-secondary text-color-white text-uppercase text-white"
                >Home</a
              >
            </li>
            <li>
              <a
                href="invista"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Invista</a
              >
            </li>
            <li>
              <a
                href="sobre"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Sobre</a
              >
            </li>
            <li>
              <a
                href="contato"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Contato</a
              >
            </li>
          </ul>

          <div class="col-md-3 text-end">
            <a href="login" class="btn btn-outline-primary botao1 me-4"
              >Login</a
            >
            <a
              href="cadastro"
              class="btn btn-outline-primary botao1 me-4"
              >Cadastre-se</a
            >
          </div>
        </header>
      </div>

      <div class="container-fluid mt-5 container-img-background">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="mb-3">
                    <label
                      for="username"
                      class="form-label text-color-blue text-uppercase"
                      >Email</label
                    >
                    <input
                      type="text"
                      class="form-control custom-input"
                      id="username"
                      placeholder="Digite seu email"
                    />
                  </div>
                  <div class="mb-3">
                    <label
                      for="password"
                      class="form-label text-color-blue text-uppercase"
                      >Senha</label
                    >
                    <input
                      type="password"
                      class="form-control custom-input"
                      id="password"
                      placeholder="Digite sua senha"
                      oninput="limitSenha(this)"
                    />
                  </div>
                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn btn-outline-primary botao1 mb-3 mt-3"
                      onclick="enviarLogin(event)"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer py-3 container-fluid">
        <div
          class="mx-5 d-flex justify-content-between align-items-center border-bottom border-white pb-4 pt-2 pe-5"
        >
          <!-- Logo à esquerda -->
          <a href="index.html">
            <img
              src="images/logo-bg-off.png"
              alt="Logo"
              class="img-fluid logo small-logo2 me-5"
            />
          </a>

          <!-- Imagens à direita -->
          <div class="d-flex">
            <img
              src="images/insta.png"
              alt="Instagram"
              class="img-fluid logo small-logo me-1"
            />

            <img
              src="images/facebook.png"
              alt="Facebook"
              class="img-fluid logo small-logo me-1"
            />

            <img
              src="images/linkedin.png"
              alt="LinkedIn"
              class="img-fluid logo small-logo me-1"
            />
          </div>
        </div>

        <div
          class="mx-5 d-flex justify-content-between align-items-center pb-2 ps-5"
        >
          <ul class="nav col-12 col-md-auto mb-2 mb-md-0 move-left">
            <li>
              <a
                href="index"
                class="nav-link px-2 link-secondary text-color-white text-uppercase text-white"
                >Home</a
              >
            </li>
            <li>
              <a
                href="invista"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Invista</a
              >
            </li>
            <li>
              <a
                href="sobre"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Sobre</a
              >
            </li>
            <li>
              <a
                href="contato"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Contato</a
              >
            </li>
          </ul>
        </div>
      </footer>
    </main>

    <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->

    <script>
      function validateNome(input) {
        input.value = input.value.replace(/[^a-zA-Z\s]/g, ''); // permite apenas letras e espaços
      }

      function limitSenha(input) {
        input.value = input.value.replace(/\D/g, ''); // permite apenas dígitos
        if (input.value.length > 8) {
          input.value = input.value.slice(0, 8); // limita a 8 dígitos
        }
      }
  
      function limitSenhaAutenticacao(input) {
        input.value = input.value.replace(/\D/g, ''); // permite apenas dígitos
        if (input.value.length > 4) {
          input.value = input.value.slice(0, 4); // limita a 4 dígitos
        }
      }
  
      function enviarLogin(event) {
        event.preventDefault();
        console.log("validateForm function called");
  
        let email = document.getElementById("username").value;
        let password = document.getElementById("password").value;
  
        if (email == "" || password == "") {
          alert("Preencha todos os campos!");
          return false;
        }
  
        if (password.length < 8) {
          alert("A senha deve ter no mínimo 8 caracteres!");
          return false;
        }

        if (!email.includes("@") || !email.includes(".com")) {
          alert("E-mail inválido!");
          return false;
        }

        fetch('/login', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            email: email,
            senha: password
          })
        })
  
        alert("Login realizado com sucesso!");
        return true;
      }
    </script>
  </body>
</html>
