<!DOCTYPE html>
<html lang="en">
  <head
    th:replace="~{fragments/headFragment :: head('StockTrade - Perfil')}"
  ></head>
  <body>
    <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div
        th:replace="~{fragments/headerLogadoFragment :: header('indexLogado')}"
      ></div>

      <div class="container-fluid mt-5">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="mb-3">
                    <h3 class="text-color-blue text-uppercase">
                      Configurações
                    </h3>

                    <label
                      for="username"
                      class="form-label text-color-blue text-uppercase"
                    ></label>
                    <h5 class="text-color-blue text-uppercase">Trocar email</h5>
                    <p class="text-color-blue text-uppercase">Email Atual</p>
                    <input
                      type="text"
                      class="form-control custom-input"
                      id="username"
                      placeholder="Digite seu email atual"
                    />
                    <p class="text-color-blue text-uppercase mt-2">
                      Novo email
                    </p>
                    <input
                      type="text"
                      class="form-control custom-input mt-3"
                      id="newUsername"
                      placeholder="Digite seu novo email"
                    />
                    <input
                      type="text"
                      class="form-control custom-input mt-3"
                      id="newUsername"
                      placeholder="Digite novamente seu novo email"
                    />
                  </div>
                  <div class="mb-3">
                    <label
                      for="password"
                      class="form-label text-color-blue text-uppercase"
                    ></label>
                    <h5 class="text-color-blue text-uppercase">Trocar senha</h5>
                    <p class="text-color-blue text-uppercase">Senha Atual</p>
                    <input
                      type="password"
                      class="form-control custom-input"
                      id="password"
                      placeholder="Digite sua senha atual"
                      oninput="limitSenha(this)"
                    />
                    <p class="text-color-blue text-uppercase mt-2">
                      Nova senha
                    </p>
                    <input
                      type="newPassword"
                      class="form-control custom-input"
                      id="newPassword"
                      placeholder="Digite sua nova senha"
                      oninput="limitSenha(this)"
                    />
                    <input
                      type="newPassword"
                      class="form-control custom-input mt-3"
                      id="newPassword"
                      placeholder="Confirme sua nova senha"
                      oninput="limitSenha(this)"
                    />
                    <div class="text-center">
                      <button
                        type="submit"
                        class="btn btn-outline-primary botao1 mb-3 mt-3"
                        onclick="enviarLogin(event)"
                      >
                        Confirmar
                      </button>
                    </div>
                    <h5 class="text-color-blue text-uppercase mt-4">Excluir conta</h5>
                    <input
                      type="password"
                      class="form-control custom-input mt-2"
                      id="passwordExcluir"
                      placeholder="Digite sua senha para excluir a conta"
                      oninput="limitSenha(this)"
                    />
                    <div class="text-center">
                      <button type="button" class="btn btn-outline-danger botao2 mb-2 mt-2" onclick="enviarLogin(this)">Excluir</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer th:replace="~{fragments/footerFragment :: footer}"></footer>
    </main>

    <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->

    <script>

      function limitSenha(input) {
        input.value = input.value.replace(/\D/g, ""); // permite apenas dígitos
        if (input.value.length > 8) {
          input.value = input.value.slice(0, 8); // limita a 8 dígitos
        }
      }

      function enviarLogin(event) {
        console.log("enviarLogin function called");

        let password = document.getElementById("passwordExcluir").value;

        if (password == "") {
          alert("Preencha todos os campos!");
          return false;
        }

        if (password.length < 8) {
          alert("A senha deve ter no mínimo 8 caracteres!");
          return false;
        }

        fetch("/perfil", {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            senha: password
          })
        })
        .then(response => {
				if (response.ok) {
					window.location.href='/indexLogado';
				} else {
          response.json().then(data => {
            senhaError.textContent = data.message;
          });
				}
			  })
        .catch(error => {
            alert("Ocorreu um erro ao realizar login!");
            console.error(error);
        });

        return true;
      }
    </script>
  </body>
</html>
