<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/headFragment :: head('StockTrade - Perfil')}"></head>

<body class="customGradiente2">
  <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

  <main>
    <div th:replace="~{fragments/headerLogadoFragment :: header('indexLogado')}"></div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <h3 class="text-color-blue text-uppercase">
                    Configurações
                  </h3>

                  <label for="username" class="form-label text-color-blue text-uppercase"></label>
                  <h5 class="text-color-blue text-uppercase">Trocar email</h5>
                  <p class="text-color-blue text-uppercase">Email Atual</p>
                  <input type="text" class="form-control custom-input" id="username"
                    placeholder="Digite seu email atual" />
                  <p class="text-color-blue text-uppercase mt-2">
                    Novo email
                  </p>
                  <input type="text" class="form-control custom-input mt-3" id="newUsername"
                    placeholder="Digite seu novo email" />
                  <input type="text" class="form-control custom-input mt-3" id="confirmNewUsername"
                    placeholder="Confirme seu novo email" />
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-outline-primary botao1 mb-3 mt-3" onclick="trocarEmail(event)">
                    Confirmar Email
                  </button>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label text-color-blue text-uppercase"></label>
                  <h5 class="text-color-blue text-uppercase">Trocar senha</h5>
                  <p class="text-color-blue text-uppercase">Senha Atual</p>
                  <input type="password" class="form-control custom-input" id="password"
                    placeholder="Digite sua senha atual" oninput="limitSenha(this)" />
                  <p class="text-color-blue text-uppercase mt-2">
                    Nova senha
                  </p>
                  <input type="password" class="form-control custom-input" id="newPassword"
                    placeholder="Digite sua nova senha" oninput="limitSenha(this)" />
                  <input type="password" class="form-control custom-input mt-3" id="confirmNewPassword"
                    placeholder="Confirme sua nova senha" oninput="limitSenha(this)" />
                  <div class="text-center">
                    <button type="button" class="btn btn-outline-primary botao1 mb-3 mt-3" onclick="trocarSenha(event)">
                      Confirmar Senha
                    </button>
                  </div>
                  <h5 class="text-color-blue text-uppercase mt-4">Excluir conta</h5>
                  <input type="password" class="form-control custom-input mt-2" id="passwordExcluir"
                    placeholder="Digite sua senha para excluir a conta" oninput="limitSenha(this)" />
                  <div class="text-center">
                    <button type="button" class="btn btn-outline-danger botao2 mb-2 mt-2"
                      onclick="confirmarExclusaoConta()">Excluir Conta</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="~{fragments/footerFragment :: footer}"></footer>
  </main>

  <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->

  <script>

    function trocarEmail(event) {

      let email = document.getElementById("username").value;
      let newEmail = document.getElementById("newUsername").value;
      let confirmNewEmail = document.getElementById("confirmNewUsername").value;

      // Verifica se os campos obrigatórios estão preenchidos
      if (!email || !newEmail || !confirmNewEmail) {
        alert("Preencha todos os campos!");
        return false;
      }

      // Verifica se o novo email e a confirmação coincidem
      if (newEmail !== confirmNewEmail) {
        alert("O novo email e a confirmação não coincidem!");
        return false;
      }

       console.log("12312")
      // Envia a solicitação para trocar o email
      fetch("/perfil/trocar-email", {
        method: "put",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: email,
          newEmail: newEmail
        }),
      })
      .then(response => {
        if (response.ok) {
          alert("Email alterado com sucesso!");
          window.location.href = '/perfil';
        } else {
          response.text().then(data => {
            if (data) {
              alert(data);
            } else {
              alert("Ocorreu um erro ao trocar o email!");
            }
          });
        }
      })
      .catch(error => {
        alert("Ocorreu um erro ao trocar o email!");
        console.error(error);
      });

      return true;
    }

    function trocarSenha(event) {

      let currentPassword = document.getElementById("password").value;
      let newPassword = document.getElementById("newPassword").value;
      let confirmNewPassword = document.getElementById("confirmNewPassword").value;

      // Verifica se os campos obrigatórios estão preenchidos
      if (!currentPassword || !newPassword || !confirmNewPassword) {
        alert("Preencha todos os campos!");
        return false;
      }

      // Verifica se a nova senha tem pelo menos 8 caracteres e coincide
      if (newPassword.length < 8 || newPassword !== confirmNewPassword) {
        alert("A nova senha deve ter no mínimo 8 caracteres e coincidir!");
        return false;
      }

      // Envia a solicitação para trocar a senha
      fetch("/perfil/trocar-senha", {
        method: "put",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          senha: currentPassword,
          newPassword: newPassword
        }),
      })
      .then(response => {
        if (response.ok) {
          alert("Senha alterada com sucesso!");
          window.location.href = '/perfil';
        } else {
          response.text().then(data => {
            if (data) {
              alert(data);
            } else {
              alert("Ocorreu um erro ao trocar a senha!");
            }
          });
        }
      })
      .catch(error => {
        alert("Ocorreu um erro ao trocar a senha!");
        console.error(error);
      });

      return true;
    }

    function limitSenha(input) {
      input.value = input.value.replace(/\D/g, ""); // permite apenas dígitos
      if (input.value.length > 8) {
        input.value = input.value.slice(0, 8); // limita a 8 dígitos
      }
    }

    function enviarLogin(event) {
      console.log("enviarLogin function called");

      let password = document.getElementById("passwordExcluir").value;

      if (password == "") {
        alert("Preencha todos os campos!");
        return false;
      }

      if (password.length < 8) {
        alert("A senha deve ter no mínimo 8 caracteres!");
        return false;
      }

      fetch("/perfil", {
        method: "delete",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          senha: password
        })
      })
      .then(response => {
        if (response.ok) {
          window.location.href = '/indexLogado';
        } else {
          response.text().then(data => {
            senhaError.textContent = data;
          });
        }
      })
      .catch(error => {
        alert("Ocorreu um erro ao realizar login!");
        console.error(error);
      });

      return true;
    }
  </script>

  <script>
    function confirmarExclusaoConta() {
      if (confirm("Tem certeza que deseja excluir sua conta? Esta ação é irreversível!")) {
        enviarExclusaoConta();
      }
    }

    function enviarExclusaoConta() {
      let password = document.getElementById("passwordExcluir").value;

      if (password == "") {
        alert("Preencha todos os campos!");
        return false;
      }

      if (password.length < 8) {
        alert("A senha deve ter no mínimo 8 caracteres!");
        return false;
      }

      fetch("/perfil", {
        method: "delete",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          senha: password
        })
      })
      .then(response => {
        if (response.ok) {
          alert("Conta excluída com sucesso!");
          window.location.href = '/indexLogado';
        } else {
          response.text().then(data => {
            alert("Erro ao excluir conta: " + data);
          });
        }
      })
      .catch(error => {
        alert("Ocorreu um erro ao excluir a conta!");
        console.error(error);
      });
    }
  </script>
</body>

</html>
