<!DOCTYPE html>
<html lang="en">
  <head
    th:replace="~{fragments/headFragment :: head('StockTrade - Sobre')}"
  ></head>
  <body id="sobre-page">
    <svg xmlns="images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div th:replace="~{fragments/headerFragment :: header('Sobre')}"></div>

      <div class="container mb-4 justify-content-center">
        <div class="container row justify-content-center">
          <div class="col-md-6 mb-5 texts justify-content-center">
            <h2 class="max-width-550px">Sobre StockTrade</h2>
            <p class="fs-6 mt-4 mb-3 max-width-550px">
              A StockTrade, uma empresa líder no mercado financeiro,
              destacando-se como uma plataforma revolucionária para investidores
              de todos os níveis. Apresenta uma interface intuitiva e um amplo
              leque de recursos. Buscamos oferecer uma experiência única de
              compra e venda de ações, conectando investidores a oportunidades
              globais de crescimento.
            </p>
          </div>
        </div>
      </div>

      <div class="container mb-10">
        <div class="container justify-content-center">
          <div class="row g-1 gy-1">
            <!-- Linha1 dos cards -->
            <div class="form-row">
              <!-- Card 1 -->
              <div class="mb-3 me-3 custom-card">
                <div class="row g-0 pt-3">
                  <div
                    class="col-md-4 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="images/seguranca-icon.png"
                      class="img-fluid rounded-start"
                      alt="seguranca"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">SEGURANÇA</h5>
                      <p class="card-text">
                        A StockTrade apresenta ao usuário um sistema que garante
                        a seguridade nas suas transações. Oferecendo um feedback
                        completo das compras e vendas realizadas no site.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Card 2 -->
              <div class="mb-3 custom-card ms-5 justify-content-end">
                <div class="row g-0 pt-3">
                  <div
                    class="col-md-4 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="images/conexao-icon.png"
                      class="img-fluid rounded-start"
                      alt="conexao"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">CONEXÃO</h5>
                      <p class="card-text">
                        Oferecemos ao usuário um amplo mercado de trades.
                        Atendendo as necessidades de todos os clientes
                        independente da sua localização.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Linha2 dos cards -->
            <div class="form-row">
              <!-- Card 3 -->
              <div class="mb-3 me-3 custom-card">
                <div class="row g-0 pt-3">
                  <div
                    class="col-md-4 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="images/transparencia-icon.png"
                      class="img-fluid rounded-start"
                      alt="transparencia"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">TRANSPARÊNCIA</h5>
                      <p class="card-text">
                        A StockTrade assegura um excelente vínculo com o
                        usuário. Disponibilizamos métodos seguros de depósito,
                        saque e um atendimento de alta qualidade para atender
                        todas as suas necessidades.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Card 4 -->
              <div class="mb-3 ms-5 custom-card">
                <div class="row g-0 pt-3">
                  <div
                    class="col-md-4 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="images/edu-financeira-icon.png"
                      class="img-fluid rounded-start"
                      alt="edu-financeira"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">EDUCAÇÃO FINANCEIRA</h5>
                      <p class="card-text">
                        Aprenda a gerir suas finanças da melhor maneira. A
                        StockTrade proporciona dicas e vídeos para aprimorar a
                        sua gestão financeira.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer th:replace="~{fragments/footerFragment :: footer}"></footer>
    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
