<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <title>StockTrade</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/headers/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="../static/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="..//static/css/stylesheet.css" rel="stylesheet" />

    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/only-logo-bg-off.png"
    />
  </head>
  <body id="sobre-page">
    <svg xmlns="../static/images/logo-bg-off.png" style="display: none"></svg>

    <main>
      <div class="container-fluid pt-3">
        <header
          class="d-flex align-items-center justify-content-between py-3 mb-4 no-flex-wrap mx-5"
        >
          <!-- logo -->
          <a href="index.html">
            <img
              src="../static/images/logo-bg-off.png"
              alt="Logo"
              class="img-fluid logo small-logo2 me-5"
            />
          </a>

          <ul class="nav col-12 col-md-auto mb-2 mb-md-0 move-left">
            <li>
              <a
                href="index.html"
                class="nav-link px-2 link-secondary text-color-white text-uppercase text-white"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Invista</a
              >
            </li>
            <li>
              <a
                href="sobrePage.html"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white active"
                >Sobre</a
              >
            </li>
            <li>
              <a
                href="contatoPage.html"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Contato</a
              >
            </li>
          </ul>

          <div class="col-md-3 text-end">
            <a href="loginPage.html" class="btn btn-outline-primary botao1 me-4"
              >Login</a
            >

            <a
              href="cadastroPage.html"
              class="btn btn-outline-primary botao1 me-4"
              >Cadastre-se</a
            >
          </div>
        </header>
      </div>

      <div class="container-fluid mb-4">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-5 texts">
            <h2 class="titulo h2 max-width-600px">Sobre StockTrade</h2>
            <p class="fs-6 mt-4 mb-3 max-width-500px">
              A StockTrade, uma empresa líder no mercado financeiro,
              destacando-se como uma plataforma revolucionária para investidores
              de todos os níveis. Apresenta uma interface intuitiva e um amplo
              leque de recursos. Buscamos oferecer uma experiência única de
              compra e venda de ações, conectando investidores a oportunidades
              globais de crescimento.
            </p>
          </div>
        </div>
      </div>

      <div class="container mb-10">
        <div class="row g-1 gy-1">
          <!-- Linha1 dos cards -->
          <div class="form-row">
            <!-- Card 1 -->
            <div class="mb-3 me-3 custom-card">
              <div class="row g-0 pt-3">
                <div
                  class="col-md-4 d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../static/images/seguranca-icon.png"
                    class="img-fluid rounded-start"
                    alt="seguranca"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">SEGURANÇA</h5>
                    <p class="card-text">
                      A StockTrade apresenta ao usuário um sistema que garante a
                      seguridade nas suas transações. Oferecendo um feedback
                      completo das compras e vendas realizadas no site.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="mb-3 custom-card">
              <div class="row g-0 pt-3">
                <div
                  class="col-md-4 d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../static/images/conexao-icon.png"
                    class="img-fluid rounded-start"
                    alt="conexao"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">CONEXÃO</h5>
                    <p class="card-text">
                      Oferecemos ao usuário um amplo mercado de trades.
                      Atendendo as necessidades de todos os clientes
                      independente da sua localização.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Linha2 dos cards -->
          <div class="form-row">
            <!-- Card 3 -->
            <div class="mb-3 me-3 custom-card">
              <div class="row g-0 pt-3">
                <div
                  class="col-md-4 d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../static/images/transparencia-icon.png"
                    class="img-fluid rounded-start"
                    alt="transparencia"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">TRANSPARÊNCIA</h5>
                    <p class="card-text">
                      A StockTrade assegura um excelente vínculo com o usuário.
                      Disponibilizamos métodos seguros de depósito, saque e um
                      atendimento de alta qualidade para atender todas as suas
                      necessidades.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card 4 -->
            <div class="mb-3 custom-card">
              <div class="row g-0 pt-3">
                <div
                  class="col-md-4 d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../static/images/edu-financeira-icon.png"
                    class="img-fluid rounded-start"
                    alt="edu-financeira"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">EDUCAÇÃO FINANCEIRA</h5>
                    <p class="card-text">
                      Aprenda a gerir suas finanças da melhor maneira. A
                      StockTrade proporciona dicas e vídeos para aprimorar a sua
                      gestão financeira.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer py-3 container-fluid mt-5">
        <div
          class="mx-5 d-flex justify-content-between align-items-center border-bottom border-white pb-4 pt-2 pe-5"
        >
          <!-- Logo à esquerda -->
          <a href="index.html">
            <img
              src="../static/images/logo-bg-off.png"
              alt="Logo"
              class="img-fluid logo small-logo2 me-5 ms-5"
            />
          </a>

          <!-- Imagens à direita -->
          <div class="d-flex">
            <img
              src="../static/images/insta.png"
              alt="Instagram"
              class="img-fluid logo small-logo me-1"
            />

            <img
              src="../static/images/facebook.png"
              alt="Facebook"
              class="img-fluid logo small-logo me-1"
            />

            <img
              src="../static/images/linkedin.png"
              alt="LinkedIn"
              class="img-fluid logo small-logo me-1"
            />
          </div>
        </div>

        <div
          class="mx-5 d-flex justify-content-between align-items-center pb-2 ps-5"
        >
          <ul class="nav col-12 col-md-auto mb-2 mb-md-0 move-left">
            <li>
              <a
                href="#"
                class="nav-link px-2 link-secondary text-color-white text-uppercase text-white"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Invista</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Sobre</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link px-2 link-dark text-color-white text-uppercase text-white"
                >Contato</a
              >
            </li>
          </ul>
        </div>
      </footer>
    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Verifica qual página você está com base no ID do corpo (body)
        var currentPage = document.body.id;

        // // Remove a classe 'active' de todos os links no cabeçalho
        // var navLinks = document.querySelectorAll(".nav-link");
        // navLinks.forEach(function (link) {
        //   link.classList.remove("active");
        // });

        // Adiciona a classe 'active' ao link relevante com base na página atual
        if (currentPage === "home-page") {
          document.querySelector(".nav-link.home").classList.add("active");
        }
      });
    </script>
  </body>
</html>
