<div th:fragment="grupoCardHomeLogado" class="card-group justify-content-center">

    <div th:replace="~{fragments/cardHomeLogado/cardHomeLogado :: cardHomeLogado('O Necessário para Investir', 'Aprenda como realizar seus primeiros investimentos. A StockTrade irá auxiliar você a garantir a melhor maneira de gerir seu dinheiro.', 'Investimentos', 'images/noticias-pic.png')}"></div>

    <div th:replace="~{fragments/cardHomeLogado/cardHomeLogado :: cardHomeLogado('Análises diárias do mercado financeiro', 'Acesse a ultíma análise completa do mercado, destacando as melhores ações para compra e venda na atualidade', 'Mercado', 'images/noticias-pic-2.png')}"></div>

    <div th:replace="~{fragments/cardHomeLogado/cardHomeLogado :: cardHomeLogado('Entenda onde você está depositando seu dinheiro', 'O que é uma ação? Porquê confiar nesse tipo de investimento? Entenda o funcionamento desses ativos.', 'Ações', 'images/noticias-pic-3.png')}"></div>

</div>